@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.app-container {
  position: relative;
}

.image-container {
  position: relative;
}

.background-image {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  filter: brightness(50%);
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.text-overlay h1 {
  font-size: 3em;
  margin: 0;
}
.enroll-button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin:15px;
}

.enroll-button:hover {
  background-color: #45a049;
}

nav {
  color: black;
  padding: 1rem;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
}

ul {
  padding: 0;
  display: flex;
}

li {
  display: inline;
  margin: 10px;
  cursor: pointer;
}

li:hover {
  text-decoration: underline;
}

/* MainPage.css */
header {
  background-color: #f0f0f0;
  padding: 20px;
}

section {
  margin: 20px 0;
}

.course-about {
  text-align: left; /* Center align text */
  background-color: #e6e6e6; /* Set a background color */
  padding: 20px;
  margin: 20px; /* Add margin to the course-about section */
}
.instructor-section {
  display: flex; /* Use flexbox for a two-column layout */
}

.instructor-image {
  padding-right: 20px; 
}

.instructor-image img {
  width: 300px; 
  height:300px;
}

.instructor-info {
  flex: 2; 
}
span{
  padding-right: 5px;
}

.testimonial-section {
  text-align: center; /* Center align text */
}

.testimonial-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
}

.testimonial-text {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.testimonial-author {
  font-style: italic;
  color: #555;
}

.price-card{
  color: #555;
}